.activity {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  position: relative;
}

.text__error {
  color: red;
  text-align: center;
  font-weight: bold;
}

.text__success {
  color: #1cacff;
  text-align: center;
  font-weight: bold;
}

.activity form {
  transition: 0.3s;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 90%;
  border-radius: 10px;
  background-color: #fafafa;
  padding: 20px 0;
  position: relative;
  -webkit-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.5);
}

form h3 {
  text-align: center;
  font-size: 19px;
  margin: 0;
}

.form__input {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  gap: 5px;
  padding: 0 10px;
}

.form__input label {
  font-weight: 700;
  font-size: 13px;
}

.form__input input {
  padding: 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #cbcbcb;
}

.form__input select {
  border-radius: 8px;
  border: 1px solid #cbcbcb;
}

.form__input select {
  padding: 10px;
}

.activity .form__submit button {
  background: none;
  border: none;
  width: 80%;
  background-color: #9d1cf3;
  font-size: 15px;
  color: #fff;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
}

form .form__submit {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.activity__link {
  background-color: #9d1cf3;
  color: #fafafa;
  font-weight: 500;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.button__back {
  position: absolute;
  top: -10px;
  left: -10px;
  border-radius: 50%;
  height: 32px;
  width: 32px;
}

.button__back img {
  width: 100%;
  height: 100%;
}

.activity__list {
  padding: 15px 10px;
  padding-bottom: 20px;
}

.activity__list h1 {
  text-align: center;
  color: #1c1c1c;
  font-size: 26px;
}
.activity__list h3 {
  color: #1c1c1c;
}

.activity__listEmpty h5 {
  color: #1c1c1c;
  text-align: center;
  font-weight: 500;
}

.activity__grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.activity__card {
  background-color: #fafafa;
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.5);
}

.activity__created {
  margin: 0 auto;
  padding: 10px;
  width: 90%;
  border-radius: 10px;
  background-color: #fafafa;
  -webkit-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.5);
}

.activity__info {
  display: flex;
  gap: 5px;
}

.created__infoContinents img {
  width: 80px;
}

p.created__infoTitle {
  font-weight: 700;
}

.activity__countriesInfo {
  display: flex;
  gap: 10px;
}

.activity__countriesInfo img {
  width: 30px;
}

.countryAdded {
  background-color: #fafafa;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  border-bottom: 3px solid #48ff5d;
  -webkit-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.5);
}

.countryAdded.stack {
  border-bottom: 3px solid #ff4857;
}
