.card {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  border-radius: 10px;
  background-color: #fafafa;
  -webkit-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.card p {
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
  font-weight: 700;
}

.card img {
  height: 100%;
  width: 100%;
  display: block;
}

.card__description a {
  display: block;
  text-align: center;
  padding: 18px 0;
  font-size: 15px;
}

