.home {
  padding: 0 10px;
  font-size: 10px;
}

.home__tap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.home .home__link {
  font-size: 15px;
  padding: 6px 15px;
  font-weight: 500;
  background-color: white;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.4);
}

.home .home__link:hover {
  background-color: #8c0fdf;
  color: white;
  font-weight: 600;
}

.filtered__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filtered__info p {
  font-size: 15px;
  font-weight: 600;
}

.input__search {
  background-color: #fafafa;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  -webkit-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.4);
}

.input__search input {
  padding: 10px 0;
  border-radius: 8px;
  border: none;
  outline: none;
}

.input__search button {
  background: none;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: #fafafa;
  font-weight: 500;
  background-color: #8c0fdf;
}

.input__search button.btn__disabled {
  background-color: #b087cb;
}

.searched {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.searched img.searched__icon {
  width: 30px;
}

.searched__empty {
  text-align: center;
}
