.navbar{
    width: 100%;
    padding: 20px 0;
}

.navbar h1{
    font-size: 29px;
    text-align: center;
    padding: 0px 0;
}

.navbar__main{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.navbar__main a {
    display: block;
}
